@using DSACharacterSheet.Core.Lang

@using DSACharacterSheet.FileReader.Sheet
@using DSACharacterSheet.FileReader.Sheet.Advantages
@using DSACharacterSheet.FileReader.Sheet.Skills


@*Model will always show an error but this line helps with IntelliSense in the rest of the document*@
@{ CharacterSheet Sheet = (CharacterSheet)Model; }

@helper Translate(string text)
{
    @LanguageManager.GetLanguageText(text)
}

@helper RenderAdvantages(IEnumerable<AdvantageBase> advantages)
{
    foreach (AdvantageBase item in advantages)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Specialisation</td>
            <td>@item.GPCost</td>
        </tr>
    }
}

@helper RenderAttribute(string name, Attribute attribute)
{
    <tr>
        <td>@name</td>
        <td>@attribute.Modifier</td>
        <td>@attribute.StartValue</td>
        <td>@attribute.CurrentValue</td>
    </tr>
}

@helper RenderBaseValue(string name, BaseValue baseValue)
{
    <tr>
        <td>@name</td>
        <td>@baseValue.Modifier</td>
        <td>@baseValue.Value</td>
    </tr>
}

<!DOCTYPE html>

<html lang="@LanguageManager.CurrentCulture.TwoLetterISOLanguageName" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@Translate("CharacterSheet.Title")</title>
    <!--<style>
        body {
            height: 29.7cm;
            width: 21cm;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
        }
    </style>-->
</head>
<body>
    <h1 style="text-align: center">@Translate("CharacterSheet.Title")</h1>

    <div>
        <style>
            table{
                width: 100%;
                border-collapse: collapse
            }
            table, th, td{
                border: 1px solid black;
                padding: 2px
            }
        </style>
        <p align="right">@Translate("CharacterSheet.GPBase"): @Sheet.GPBase</p>

        <div>
            <style>
                table td:first-child{
                    white-space: nowrap
                }
            </style>
            <table>
                <tr>
                    <td>@Translate("CharacterSheet.Name"):</td>
                    <td colspan="2">@Sheet.Name</td>
                </tr>
                <tr>
                    <td>@Translate("CharacterSheet.Race"):</td>
                    <td colspan="2">@Sheet.Race.Name</td>
                </tr>
                <tr>
                    <td>@Translate("CharacterSheet.Culture"):</td>
                    <td>@Sheet.Culture.Name</td>
                    <td>@Sheet.Culture.Specification</td>
                </tr>
                <tr>
                    <td>@Translate("CharacterSheet.Profession"):</td>
                    <td colspan="2">@Sheet.Profession.Name</td>
                </tr>
            </table>
        </div>

        <div style="display: grid; grid-template-columns: 2fr 1fr 2fr">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-auto-rows: min-content; padding: 5px; border: 0.5px solid black">
                <div>@Translate("CharacterInformation.Gender")</div>
                <div>@Translate("Gender." + Sheet.CharacterInformation.Gender)</div>

                <div>@Translate("CharacterInformation.Age")</div>
                <div>@Sheet.CharacterInformation.Age</div>

                <div>@Translate("CharacterInformation.Height")</div>
                <div>@Sheet.CharacterInformation.Height</div>

                <div>@Translate("CharacterInformation.Weight")</div>
                <div>@Sheet.CharacterInformation.Weight</div>

                <div>@Translate("CharacterInformation.HairColor")</div>
                <div>@Sheet.CharacterInformation.HairColor</div>

                <div>@Translate("CharacterInformation.EyeColor")</div>
                <div>@Sheet.CharacterInformation.EyeColor</div>

                <div style="grid-column: auto / span 2">@Translate("CharacterInformation.Appearance")</div>
                <div style="grid-column: auto / span 2; height: 100%">
                    <p>@Sheet.CharacterInformation.Appearance</p>
                </div>
            </div>

            <div style="border: 0.5px solid black; padding: 5px">
                <h4 style="width:100%; text-align:center">@Translate("CharacterSheet.CoatOfArms")</h4>
                <img src="data:image/png;base64,@Sheet.CoatOfArms.Base64String"
                     alt='@Translate("CharacterSheet.CoatOfArms")' style="max-width: 100%" />
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-auto-rows: min-content; padding: 5px; border: 0.5px solid black">
                <div>@Translate("SocialInformation.Class")</div>
                <div>@Sheet.SocialInformation.Class</div>

                <div>@Translate("SocialInformation.Title")</div>
                <div>@Sheet.SocialInformation.Title</div>

                <div>@Translate("SocialInformation.SocialClass")</div>
                <div>@Sheet.SocialInformation.SocialClass</div>

                <div style="grid-column: auto / span 2">@Translate("SocialInformation.Background")</div>
                <div style="grid-column: auto / span 2">
                    <p style="word-break: break-all">@Sheet.SocialInformation.Background</p>
                </div>
            </div>
        </div>


        <table>
            <tr>
                <th>@Translate("CharacterSheet.Name")</th>
                <th>@Translate("CharacterSheet.Specialization")</th>
                <th>@Translate("CharacterSheet.GPCost")</th>
            </tr>
            @RenderAdvantages(Sheet.Advantages)
            @RenderAdvantages(Sheet.Disadvantages)
        </table>

        <h2 style="width: 100%; text-align: center">@Translate("CharacterSheet.BaseValues")</h2>

        <div style="display: grid; grid-template-columns: 1fr 10px 1fr">
            <style type="text/css">
                table.lastDouble td {
                    text-align: center
                }
                table.lastDouble tr:last-child {
                    border-top: double
                }
            </style>

            <table class="lastDouble">
                <tr>
                    <th/>
                    <th>@Translate("CharacterSheet.Modifyer")</th>
                    <th>@Translate("CharacterSheet.StartValue")</th>
                    <th>@Translate("CharacterSheet.CurrentValue")</th>
                </tr>
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Courage"), Sheet.Attributes.Courage)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Wisdom"), Sheet.Attributes.Wisdom)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Intuition"), Sheet.Attributes.Intuition)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Charisma"), Sheet.Attributes.Charisma)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Prestidigitation"), Sheet.Attributes.Prestidigitation)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Finesse"), Sheet.Attributes.Finesse)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Constitution"), Sheet.Attributes.Constitution)
                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.PhysicalStrength"), Sheet.Attributes.PhysicalStrength)

                @RenderAttribute(LanguageManager.GetLanguageText("AttributeType.Speed"), Sheet.Attributes.Speed)
            </table>

            <div>   </div>

            <table>
                <tr>
                    <th/>
                    <th>@Translate("CharacterSheet.Modifyer")</th>
                    <th>@Translate("CharacterSheet.CurrentValue")</th>
                </tr>
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.HealthPoints"), Sheet.BaseValues.HealthPoints)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.Endurance"), Sheet.BaseValues.Endurance)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.AstralEnergy"), Sheet.BaseValues.AstralEnergy)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.KarmaEnergy"), Sheet.BaseValues.KarmaEnergy)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.MagicResistance"), Sheet.BaseValues.MagicResistance)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.BaseInitiative"), Sheet.BaseValues.BaseInitiative)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.BaseAttack"), Sheet.BaseValues.BaseAttack)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.BaseParry"), Sheet.BaseValues.BaseParry)
                @RenderBaseValue(LanguageManager.GetLanguageText("BaseValue.BaseLongRangeAttack"), Sheet.BaseValues.BaseLongRangeAttack)

            </table>

        </div>

        <div style="border: 0.5px solid black; padding: 5px; margin-top: 5px">
            <div style="width: 100%; display: grid; grid-template-columns: min-content 1fr min-content 1fr min-content 1fr">
                <div style="white-space: nowrap">@Translate("CharacterSheet.TotalAP"): </div>
                <div style="white-space: nowrap; text-align: center">@Sheet.AdventurePoints.Total</div>
                <div style="white-space: nowrap">@Translate("CharacterSheet.UsedAP"): </div>
                <div style="white-space: nowrap; text-align: center">@Sheet.AdventurePoints.Used</div>
                <div style="white-space: nowrap">@Translate("CharacterSheet.LeftoverAP"): </div>
                <div style="white-space: nowrap; text-align: center">@Sheet.AdventurePoints.CurrentLeft</div>
           </div>
        </div>



    </div>
</body>
</html>