@using DSACharacterSheet.Core.Lang

@using DSACharacterSheet.FileReader
@*Model will always show an error but this line helps with IntelliSense in the rest of the document*@
@{ CharacterSheet Sheet = (CharacterSheet)Model; }

@helper Translate(string text)
{
    @LanguageManager.GetLanguageText(text)
}

<!DOCTYPE html>

<html lang="@LanguageManager.CurrentCulture.TwoLetterISOLanguageName" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@Translate("CharacterSheet.Title")</title>
    <!--<style>
        body {
            height: 29.7cm;
            width: 21cm;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
        }
    </style>-->
</head>
<body>
    <style>
        tr {
            page-break-inside: avoid;
        }
    </style>

    <h1 style="text-align: center">@Translate("CharacterSheet.Title")</h1>

    <div>
        <style>
            table, th, td{
                border: 1px solid black;
                padding: 2px
            }
        </style>
        <p align="right">@Translate("CharacterSheet.GPBase"): @Sheet.GPBase</p>
        <table style="width: 100%; border-collapse: collapse">
            <tr>
                <td>@Translate("CharacterSheet.Name"):</td>
                <td colspan="2">@Sheet.Name</td>
            </tr>
            <tr>
                <td>@Translate("CharacterSheet.Race"):</td>
                <td colspan="2">@Sheet.Race.Name</td>
            </tr>
            <tr>
                <td>@Translate("CharacterSheet.Culture"):</td>
                <td>@Sheet.Culture.Name</td>
                <td>@Sheet.Culture.Spezification</td>
            </tr>
            <tr>
                <td>@Translate("CharacterSheet.Profession"):</td>
                <td colspan="2">@Sheet.Profession.Name</td>
            </tr>
        </table>

        <table style="width: 100%; max-width: 100%; border-collapse: collapse">
            <tr>
                <td style="width:40%">
                    <div style="display: grid; grid-template-columns: 1fr 1fr; height:100%">
                        <div>@Translate("CharacterInformation.Gender")</div>
                        <div>@Translate("Gender." + Sheet.CharacterInformation.Gender)</div>

                        <div>@Translate("CharacterInformation.Age")</div>
                        <div>@Sheet.CharacterInformation.Age</div>

                        <div>@Translate("CharacterInformation.Height")</div>
                        <div>@Sheet.CharacterInformation.Height</div>

                        <div>@Translate("CharacterInformation.Weight")</div>
                        <div>@Sheet.CharacterInformation.Weight</div>

                        <div>@Translate("CharacterInformation.HairColor")</div>
                        <div>@Sheet.CharacterInformation.HairColor</div>

                        <div>@Translate("CharacterInformation.EyeColor")</div>
                        <div>@Sheet.CharacterInformation.EyeColor</div>

                        <div style="grid-column: auto / span 2">@Translate("CharacterInformation.Appearance")</div>
                        <div style="grid-column: auto / span 2">
                            <p>@Sheet.CharacterInformation.Appearance</p>
                        </div>
                    </div>
                </td>
                <td align="center" style="width: 20%">
                    <p style="align-content:center">@Translate("CharacterSheet.CoatOfArms")</p>
                    <img src="data:image/png;base64,@Sheet.CoatOfArms.Base64String"
                        alt='@Translate("CharacterSheet.CoatOfArms")' style="max-width: 100%"/>
                </td>
                <td style="width:40%">
                    <div style="display: grid; grid-template-columns: 1fr 1fr; height: 100%">
                        <div>@Translate("SocialInformation.Class")</div>
                        <div>@Sheet.SocialInformation.Class</div>

                        <div>@Translate("SocialInformation.Title")</div>
                        <div>@Sheet.SocialInformation.Title</div>

                        <div>@Translate("SocialInformation.SocialClass")</div>
                        <div>@Sheet.SocialInformation.SocialClass</div>

                        <div style="grid-column: auto / span 2">@Translate("SocialInformation.Background")</div>
                        <div style="grid-column: auto / span 2">
                            <p style="word-break: break-all">@Sheet.SocialInformation.Background</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>