@using Drachenhorn.Core.Lang
@using Drachenhorn.Xml.Sheet
@inherits RazorLight.TemplatePage<Drachenhorn.Core.ViewModels.Sheet.CharacterSheetViewModel>

@{ CharacterSheet sheet = Model.CurrentSheet; }

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>@LanguageManager.Translate("CharacterSheet.Title")</title>
</head>
<body>

<table>
    <tr>
        <td>@LanguageManager.Translate("Characteristics.Name")</td>
        <td colspan="3">@sheet.Characteristics.Name</td>
    </tr>
    <tr>
        <td>@LanguageManager.Translate("Characteristics.Family")</td>
        <td>@sheet.Characteristics.Family</td>
        <td>@LanguageManager.Translate("Characteristics.PlaceOfBirth")</td>
        <td>@sheet.Characteristics.PlaceOfBirth</td>
    </tr>
</table>

</body>
</html>